import("rstan")
import("MASS")
importFrom("Matrix", rankMatrix)
importFrom("RCurl", getURL)
importFrom("KEGGgraph", parseKGML, KEGGpathway2reactionGraph)
import("igraph")
import("ggplot2")
importFrom("reshape2", melt)
importFrom("mc2d", rtrunc)
importFrom("abind", abind)
export("iCARH.model")
export("iCARH.simulate")
export("iCARH.getPathwaysMat")
export("iCARH.plotBeta")
export("iCARH.plotTreatmentEffect")
export("iCARH.plotPathwayPerturbation")
export("iCARH.checkNormality")
export("iCARH.mad")
export("iCARH.waic")
